@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*
#fff Branco minimalista (principal)
#151515 (preto suave)
#333333 (cinza escuro)
#388e3c (verde)
#64b5f6 (azul claro)
#76c7ff (azul mais claro)
#d32f2f (vermelho)
#f57c00 (laranja)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
}

main {
  height: 100%;
  padding: 17px;
  background-color: #faf3e0;
  display: flex;
  flex-direction: row;
}

#menu-esquerdo {
  width: 320px;
  height: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 23px;

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    #box-input {
      width: 265px;
      height: 35px;
      border: 1px solid black;
      border-radius: 20px;
      display: flex;
      align-items: center;

      input {
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
        cursor: pointer;
      }

      input::placeholder {
        font-size: 1em;
        color: #151515df;
        letter-spacing: 0.2px;
      }

      span {
        padding: 5px;
        cursor: pointer;
      }
    }

    h1 {
      margin-top: 12px;
      text-align: center;
      color: black;
      font-size: 2em;
      font-variant: small-caps;
      letter-spacing: 0.7px;
      font-weight: 800;
    }
  }

  #box-sinalizacoes {
    width: 100%;
    height: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    #box-user {
      width: 100px;
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        font-size: 1em;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: .2px;
        color: black;
        cursor: pointer;
      }

      a:hover {
        text-decoration: underline;
      }

      span {
        font-size: 1.6em;
      }
    }
  }
}

#box-title-list {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    color: black;
    font-size: 0.9em;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  span {
    color: black;
    font-size: 0.9em;
    cursor: pointer;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .box-link {
    width: 270px;
    height: 32px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;

    a {
      text-decoration: none;
      color: black;
      display: block;
    }

    span {
      color: black;
    }
  }
}

#container-main {
  width: calc(100% - 320px);
  height: 100%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  #container-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  .box-information {
    width: 280px;
    height: 140px;
    padding: 5px;
    margin-top: 45px;
    background-color: #faf3e0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h1 {
      margin-top: 20px;
      color: black;
    }

    #text-black {
      color: black;
    }

    #text-blue {
      color: #76c7ff;
    }
  }

  #container-itens {
    width: 85%;
    height: 400px;
    padding: 20px;
    background-color: #faf3e0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    #header-stock {
      display: flex;
      justify-content: space-between;

      h1 {
        color: black;
        font-size: 1.6em;
      }

      button {
        width: 110px;
        height: 40px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: #4acc50;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 0.7em;
        cursor: pointer;
      }
    }
  }

  #container-stock {
    width: 100%;
    padding: 12px;
    border: .5px solid rgba(0, 0, 0, 0.407);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    #box-stock {
      display: flex;
      flex-direction: row;
      gap: 5px;

      .stock-data {
        width: 95px;
        display: flex;
        flex-direction: column;
        gap: 3px;

        h1 {
          color: black;
          font-size: 1em;
        }

        p {
          color: black;
          font-size: 0.8em;
        }
      }
    }

    #buttons {
      display: flex;
      gap: 15px;

      .button-itens {
        width: 110px;
        height: 40px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 0.7em;
        color: #fff;
        cursor: pointer;
      }

      #button-remove {
        background-color: #e03c3c;
      }

      #button-edit {
        background-color: #ef8822;
      }
    }
  }
}
